<div class="box">
    <div class="content">
        <div class="social">
            <a id="google_login" class="circle google" href="/auth/google" title="Đăng nhập bằng tài khoản Google">
            <i class="fa fa-google-plus fa-fw"></i>
            </a>
            <a id="facebook_login" class="circle facebook" href="/auth/facebook" title="Đăng nhập bằng tài khoản Facebook">
            <i class="fa fa-facebook fa-fw"></i>
            </a>
        </div>
        <div class="division">
            <div class="line l"></div>
            <span>hoặc</span>
            <div class="line r"></div>
        </div>
        <div class="error"></div>
        <div class="form loginBox">
            <form method="POST" action="/login">
                <input type="text" name="email" placeholder="Email" class="form-control" required>
                <input type="password" name="password" placeholder="Password" class="form-control" required>
                <input type="submit" value="Đăng nhập" class="btn btn-default btn-login">
            </form>
        </div>
    </div>
</div>