<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Let's Chat</title>
    <link rel="shortcut icon" href="/images/logo_favicon/letchat.jpg" />

    <link
      rel="stylesheet"
      href="/bower_components/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/bower_components/font-awesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/bower_components/AlertifyJS/build/css/alertify.css"
    />

    <link href="/css/login-register.css" rel="stylesheet" />

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/AlertifyJS/build/alertify.js"></script>

    <script src="/js/login-register.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 my-content">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="login-title main-text">Let's Chat</h1>
            <h2 class="sub-text">is how creative and beyond the limits</h2>
          </div>
            <!-- <div class="col-sm-3"></div> -->
            <!-- <div class="col-sm-6 table-responsive"> -->
              <!-- <table class="table my-table"></table> -->
        </div>
            <div class="col-sm-3"></div>
          </div>
        </div>
        <div class="row">

          <div class="  box-content">
            <a
              class="btn big-login"
              data-toggle="modal"
              href="javascript:void(0)"
              onclick="openLoginModal();"
              >Đăng nhập</a
            >
            <a
              class="btn big-register"
              data-toggle="modal"
              href="javascript:void(0)"
              onclick="openRegisterModal();"
              >Đăng ký</a
            >
          </div>

        </div>
      </div>
      <div class="modal fade login" id="loginModal">
        <div class="modal-dialog login animated">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true"
              >
                &times;
              </button>
              <h4 class="modal-title">Đăng nhập</h4>
            </div>
            <div class="modal-body">
              <%-include('notification/notification');%> 
              <%-include('login/login');%> 
              <%-include('register/register');%>
              <%-include('forgotPassword/forgotPassword');%>
              <div class="division">
                <div class="line l"></div>
                <span>hoặc</span>
                <div class="line r"></div>
            </div>
            <div class="social">
                <a id="google_login" class="circle google" href="/auth/google" title="Đăng nhập bằng tài khoản Google">
                    Đăng nhập với google
                </a>
                <a id="facebook_login" class="circle facebook" href="/auth/facebook" title="Đăng nhập bằng tài khoản Facebook">
                    Đăng nhập với facebook
                </a>
            </div>
            </div>
            <div class="modal-footer">
              <div class="forgot login-footer">
                <span
                  >Bạn chưa có tài khoản?
                  <a href="javascript: showRegisterForm();"
                    >Tạo một tài khoản mới</a
                  >
                </span>
              </div>
              <div class="forgot register-footer" style="display:none">
                <span>Bạn đã có tài khoản?</span>
                <a href="javascript: showLoginForm();">Đăng nhập</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
