<div class="col-sm-3 sidenav no-padding">
    <div class="left">
        <div class="top form-group">
            <select class="form-control" id="select-type-chat">
                <option value="all-chat">Toàn bộ trò chuyện</option>
                <option value="personal-chat">Trò chuyện cá nhân</option>
                <option value="group-chat">Trò chuyện nhóm</option>
            </select>
            <a href="#groupChatModal" class="create-group-chat" data-toggle="modal" 
                title="Tạo một nhóm trò chuyện mới"></a>
        </div>
        <ul class="people no-padding-start">
            <a href="#uidcontact._id" class="room-chat">
                <li class="person" data-chat="contact._id">
                    <div class="left-avatar">
                        <div class="dot"></div>
                        <img src="../../images/users/ava.png" alt="">
                    </div>
                    <span class="name">
                        Let's Chat
                    </span>
                    <span class="time">Một phút trước</span>
                    <span class="preview">Xin chào</span>
                </li>
            </a>
        </ul>
    </div>
</div>