<div class="col-sm-3 sidenav no-padding">
  <div class="left">
    <div class="top form-group">
      <select class="form-control" id="select-type-chat">
        <option value="all-chat">Toàn bộ trò chuyện</option>
        <option value="user-chat">Trò chuyện cá nhân</option>
        <option value="group-chat">Trò chuyện nhóm</option>
      </select>
      <a
        href="#groupChatModal"
        class="create-group-chat"
        data-toggle="modal"
        title="Tạo một nhóm trò chuyện mới"
      >
      </a>
    </div>
    <ul id="contact-list" class="people no-padding-start">
    </ul>
  </div>
</div>
