<div class="col-sm-3 sidenav no-padding">
  <div class="left">
    <div class="top form-group">
      <select class="form-control" id="select-type-chat">
        <option value="all-chat">Toàn bộ trò chuyện</option>
        <option value="personal-chat">Trò chuyện cá nhân</option>
        <option value="group-chat">Trò chuyện nhóm</option>
      </select>
      <a
        href="#groupChatModal"
        class="create-group-chat"
        data-toggle="modal"
        title="Tạo một nhóm trò chuyện mới"
      ></a>
    </div>
    <ul class="people no-padding-start">
      <a href="#uidcontact._id" class="room-chat">
        <li class="person" data-uid="5da7393b2006ee38b8133f6d">
          <div class="left-avatar">
            <div class="dot"></div>
            <img src="../../images/users/ava.png" alt="" />
          </div>
          <span class="name">
            Agent P
          </span>
          <span class="time">Một phút trước</span>
          <span class="preview">Xin chào</span>
        </li>
        <li class="person" data-uid="5da74656f5cedd30a8381d0d">
          <div class="left-avatar">
            <div class="dot"></div>
            <img src="../../images/users/ava.png" alt="" />
          </div>
          <span class="name">
            Agent O
          </span>
          <span class="time">Một phút trước</span>
          <span class="preview">Boujour</span>
        </li>
      </a>
    </ul>
  </div>
</div>
