<div class="col-sm-9 sidenav no-padding">
    <div class="right" data-chat="">
        <div class="top">
            <span>To: <span class="name">Let's Chat (admin)</span></span>
        </div>
        <div class="content-chat">
            <div class="chat" data-chat="">
                <div class="bubble me" data-mess-id="${item._id}">Hello, I'm Let's Chat, Nice to meet you!</div>
                <div class="bubble you" data-mess-id="${item._id}">Really? I'm Let's Chat too, what the f*ck? </div>
                <div class="bubble me" data-mess-id="${item._id}">This is me !!!</div>
                <div class="bubble me bubble-image-file" data-mess-id="${item._id}">
                    <img src="../../images/users/ava.png" class="show-image-chat">
                </div>
                <div class="bubble me bubble-image-file" data-mess-id="${item._id}">
                        
                    </div>
                <div class="bubble you" data-mess-id="${item._id}">And this is me @@ !!!</div>
                <div class="bubble you bubble-image-file" data-mess-id="${item._id}">
                    <img src="../../images/users/ava.png" class="show-image-chat">
                </div>
                <div class="bubble you bubble-image-file" data-mess-id="${item._id}">
                    
                </div>
            </div>
        </div>
        <div class="write" data-chat="">
            <input type="text" class="write-chat" data-chat="17071995">
            <div class="icons">
                <a href="#" class="icon-chat" data-chat=""><i class="fa fa-smile-o"></i></a>
                <label for="image-chat">
                    <input type="file" id="image-chat" name="my-image-chat" class="image-chat" data-chat="">
                    <i class="fa fa-photo"></i>
                </label>
                <label for="attach-chat">
                    <input type="file" id="attach-chat" name="my-attach-chat" class="attach-chat" data-chat="">
                    <i class="fa fa-paperclip"></i>
                </label>
                <a href="#streamModal" id="video-chat" class="video-chat" data-chat="" data-toggle="modal">
                    <i class="fa fa-video-camera"></i>
                </a>
                <input type="hidden" id="peer-id" value="">
            </div>
        </div>
    </div>
</div>