<div class="box">
  <div class="content forgetBox" style="display:none">
      <div class="form">
          <form action="/reset-email" method="POST">
              <input id="Email" type="text" name="email" placeholder="Email" class="form-control" required>
              <input type="submit" onclick="checkEmail()" value="Lấy lại mật khẩu" class="btn btn-default btn-login">
          </form>
      </div>
  </div>
</div>