<div class="modal fade" id="imagesModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tất cả ảnh trong cuộc trò chuyện này</h4>
            </div>
            <div class="modal-body">
                <div class="all-images" style="visibility: hidden;">
                    <img src="../../images/users/ava.png">
                    <img src="../../images/users/ava.png">
                </div>
            </div>
        </div>
    </div>
</div>