<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Let's Chat</title>
    <link rel="shortcut icon" href="/images/logo_favicon/letchat.jpg" />

    <link
      rel="stylesheet"
      href="/bower_components/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/bower_components/font-awesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/bower_components/AlertifyJS/build/css/alertify.css"
    />

    <link href="/css/login-register.css" rel="stylesheet" />

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/AlertifyJS/build/alertify.js"></script>

    <script src="/js/login-register.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="box-update">
        <form action="/reset-password" method="POST">
            <h4 class="title">Đổi mật khẩu</h4>
            <%-include('../notification/notification');%> 
            <input type="hidden" name="id" value="<%= userId %>">
            <input style="margin-bottom: 7px;" type="password" name="password" placeholder="mật khẩu" class="form-control">
            <input type="password" name="rePassword" placeholder="nhập lại mật khẩu của bạn" class="form-control">
            <input type="submit" value="Đổi mật khẩu" class="btn btn-default btn-login">
        </form>
    </div>
    </div>
  </body>
</html>
