<div class="modal fade" id="groupAddUserModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm thành viên</h4>
            </div>
            <div class="modal-body">
                <br>
                <div id="find-user-contact" class="tab-pane fade in active">
                    <div class="find-user-top">
                        <div class="input-group col-md-12">
                            <input id="input-find-users-in-contact-to-add" type="text" class="form-control" placeholder="Nhập E-mail hoặc username..." />
                            <span class="input-group-btn">
                                <button id="btn-find-users-in-contact" class="btn btn-lg" type="button">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 6px;">
                    <label>
                        Số lượng bạn bè chưa vào nhóm: <span id="quantity-of-addable-friend"></span>                    
                    </label>
                </div>
                <div style="display: flex;justify-content: space-between;width: 100%;">
                    <div class="find-user-bottom" style="width: 70%;">
                        <ul class="contactList" id="group-contact-list-to-add">
                        </ul>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>