<div class="modal fade" id="groupChatInfoModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thông tin nhóm</h4>
            </div>
            <div class="modal-body">
                <div style="display:flex; justify-content: space-around;">
                    <div class="text-center" id="div-update-group-avatar">
                        <div id="image-edit-profile">
                            <img src="/images/users/group.png" id="group-modal-avatar" class="avatar img-circle" alt="avatar">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Groupname:</label>
                            <div class="col-md-8">
                                <input id="input-change-groupname" class="form-control" type="text" name="groupname" value="">
                            </div>
                        <div style="display: inline-block;margin: 10px;">
                            Số lượng thành viên trong nhóm:  
                            <lable id="quantity-of-group-members"></lable>
                        </div>
                    </div>
                    <div class="group-btn-info">
                        <input type="button" id="input-btn-update-group" class="btn btn-primary custom-background-btn-primary" name="submit" value="Lưu lại">
                        <span></span>
                        <input type="button" id="input-btn-cancel-update-group" class="btn btn-default custom-background-btn-reset" value="Hủy bỏ">
                    </div>
                </div>
                <div id="find-user-group" class="tab-pane fade in active">
                    <div class="find-user-top" style="margin-top: 0px !important;">
                        <div class="input-group col-md-12">
                            <input id="input-find-users-in-group" type="text" class="form-control" placeholder="Tìm thành viên trong nhóm..." />
                            <span class="input-group-btn">
                                <button id="btn-find-users-group" class="btn btn-lg" type="button">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="find-user-bottom">
                    <ul class="contactList" id="groupinfo-contact-list">
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>