<% extend('../master') %>


<div class="container-fluid main-content">
    <div class="row content">
        <%- include('sections/leftSide'); %>
        
        <%- include('sections/rightSide'); %>
        
    </div>
</div>