@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

/* @charset "UTF-8"; */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin: 0 !important;
}
.container-fluid {

  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("../../images/background/background1.jpg");
  background-size: cover;
  position: relative;
}

.my-content {

  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
  line-height: 1.7;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
}

.box-content {
  
  position: absolute;
  top: 60%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
}
.main-text {
  animation: moveInLeft 1s ease-out; 
  letter-spacing: 13px;
  margin-bottom: 30px;
}

.sub-text {
  animation: moveInRight 1s ease-out; 
  letter-spacing: 12px;
  margin-bottom: 70px;
}

@media screen and (max-width: 830px) {
  body {
    position: static;
  }
  .main-text {
    font-size: 12px;
  }
  .sub-text {
    font-size: 14px;
    letter-spacing: 7px;
  }
  .big-login,.big-register {
    font-size: 10px !important;
    margin-bottom: 10px;
    width: 140px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

}

.modal-title {
  color: #2c3e50;
}



.login-title {
  font-size: 52px;
}

.table a {
  color: #fff;
}
.social a {
    text-decoration: none;
}
.bottom-description {
  margin-top: 30px;
  font-size: 15px;
  font-style: italic;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.hinges {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slow {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
}

.animated.snail {
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-duration: 4s;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
  }
}

@-moz-keyframes shake {
  0%,
  100% {
    -moz-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -moz-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -moz-transform: translateX(10px);
  }
}

@-o-keyframes shake {
  0%,
  100% {
    -o-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -o-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -o-transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}


.login .modal-dialog {
  width: 500px;
}

.login .modal-footer {
  border-top: 0;
  margin-top: 0px;
  padding: 10px 20px 20px;
}

.login .modal-header {
  border: 0 none;
  padding: 15px 15px 15px;
  /*     padding: 11px 15px; */
}

.login .division {
  float: none;
  margin: 0 auto 18px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.login .division .line {
  position: absolute;
  top: 10px;
  width: 34%;
}

.login .division .line.l {
  left: 0;
}

.login .division .line.r {
  right: 0;
}

.login .division span {
  color: #424242;
  font-size: 17px;
}
.social {
  float: none;
  margin: 0 auto 30px;
  text-align: center;
}

.login .social .circle {
  background-color: #EEEEEE;
  color: #FFFFFF;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 7px;
  padding: 15px;
  width: 100%;
}

.login .social .circle .fa {
  font-size: 16px;
  text-align: left;
  
}

.login .social .facebook {
  background-color: #455CA8;
  color: #FFFFFF;
  text-transform: uppercase;
}

.login .social .google {
  background-color: #F74933;
  text-transform: uppercase;
}


.login .facebook:hover {
  background-color: #6E83CD;
}

.login .google:hover {
  background-color: #FF7566;
}


.login .forgot {
  color: #797979;
  margin-left: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.login .btn-login,
.registerBox .btn-register {
  /* background: linear-gradient(to right, #800080, #ffc0cb); */
  background: linear-gradient(to left top,#11cdef 0,#1171ef 100%);
  /* border-color: #00BBFF; */
  border-width: 0;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 15px 50px;
  text-transform: uppercase;
  width: 100%;
}

.login .form-control {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
  color: #FFFFFF;
}

.login .form-control:hover {
  background-color: rgba(0, 0, 0, .16);
}

.login .form-control:focus {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
  background-color: rgba(0, 0, 0, 0.23);
  color: #FFFFFF;
}

.login .box .form input[type="text"],
.login .box .form input[type="password"] {
  border-radius: 3px;
  border: none;
  color: #333333;
  font-size: 16px;
  height: 46px;
  margin-bottom: 7px;
  padding: 13px 12px;
  width: 100%;
}
@media (max-width:400px) {
  .login .modal-dialog {
    width: 100%;
  }
}


.big-login,
.big-register {
  width: 140px;
  color: white;
  border-radius: 0px;
  font-size: 14px;
  font-weight: 200;
  padding: 12px 40px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.6);
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}

.big-login{
  margin-right: 5px;
  background: linear-gradient(to left top,#11cdef 0,#1171ef 100%)
}
.big-login:hover {
  color: white;
  background: linear-gradient(87deg,#11cdef 0,#1171ef 100%)
}
.big-register {
  color: rgba(101, 78, 163, 1);
  background: white;
  margin-left: 5px;
}

label {
  color: #7f8c8d;
  margin-bottom: 7px !important;
  margin-top: 4px !important;
}

.alert {
  padding: 12px;
  margin-bottom: 10px;
}
