<% if(errors != ""){ %>
    <% errors.forEach((item) =>{ %>
        <script>openLoginModal();</script>
        <div class="alert alert-danger"><%- item %></div>
    <% });  %>
<% } %>

<% if(success != ""){ %>
    <% success.forEach((item) =>{ %>
        <script>openLoginModal();</script>
        <div class="alert alert-success"><%- item %></div>
    <% });  %>
<% } %>
